<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kFlashCardScene</key>
	<dict>
		<key>a</key>
		<string>a.wav</string>
		<key>b</key>
		<string>b.wav</string>
		<key>c</key>
		<string>c.wav</string>
		<key>d</key>
		<string>d.wav</string>
		<key>e</key>
		<string>e.wav</string>
		<key>f</key>
		<string>f.wav</string>
		<key>g</key>
		<string>g.wav</string>
		<key>h</key>
		<string>h.wav</string>
		<key>i</key>
		<string>i.wav</string>
		<key>j</key>
		<string>j.wav</string>
		<key>k</key>
		<string>k.wav</string>
		<key>l</key>
		<string>l.wav</string>
		<key>m</key>
		<string>m.wav</string>
		<key>n</key>
		<string>n.wav</string>
		<key>o</key>
		<string>o.wav</string>
		<key>p</key>
		<string>p.wav</string>
		<key>q</key>
		<string>q.wav</string>
		<key>r</key>
		<string>r.wav</string>
		<key>s</key>
		<string>s.wav</string>
		<key>t</key>
		<string>t.wav</string>
		<key>u</key>
		<string>u.wav</string>
		<key>v</key>
		<string>v.wav</string>
		<key>w</key>
		<string>w.wav</string>
		<key>x</key>
		<string>x.wav</string>
		<key>y</key>
		<string>y.wav</string>
		<key>z</key>
		<string>z.wav</string>
	</dict>
	<key>kOptionsScene</key>
	<dict/>
	<key>kWordPuzzleScene</key>
	<dict>
		<key>ant</key>
		<string>ant.wav</string>
		<key>banana</key>
		<string>banana.wav</string>
		<key>cat</key>
		<string>cat.wav</string>
		<key>dog</key>
		<string>dog.wav</string>
		<key>egg</key>
		<string>egg.wav</string>
		<key>fox</key>
		<string>fox.wav</string>
		<key>grape</key>
		<string>grape.wav</string>
		<key>house</key>
		<string>house.wav</string>
		<key>insect</key>
		<string>insect.wav</string>
		<key>jeep</key>
		<string>jeep.wav</string>
		<key>kite</key>
		<string>key.wav</string>
		<key>leaf</key>
		<string>leaf.wav</string>
		<key>moon</key>
		<string>moon.wav</string>
		<key>nurse</key>
		<string>nurse.wav</string>
		<key>orange</key>
		<string>orange.wav</string>
		<key>pig</key>
		<string>pig.wav</string>
		<key>queen</key>
		<string>queen.wav</string>
		<key>rabbit</key>
		<string>rabbit.wav</string>
		<key>ship</key>
		<string>ship.wav</string>
		<key>tree</key>
		<string>tree.wav</string>
		<key>uncle</key>
		<string>uncle.wav</string>
		<key>violin</key>
		<string>violin.wav</string>
		<key>watch</key>
		<string>watch.wav</string>
		<key>Xmas</key>
		<string>Xmas.wav</string>
		<key>yacht</key>
		<string>yacht.wav</string>
		<key>zoo</key>
		<string>zoo.wav</string>
		<key>a</key>
		<string>a.wav</string>
		<key>b</key>
		<string>b.wav</string>
		<key>c</key>
		<string>c.wav</string>
		<key>d</key>
		<string>d.wav</string>
		<key>e</key>
		<string>e.wav</string>
		<key>f</key>
		<string>f.wav</string>
		<key>g</key>
		<string>g.wav</string>
		<key>h</key>
		<string>h.wav</string>
		<key>i</key>
		<string>i.wav</string>
		<key>j</key>
		<string>j.wav</string>
		<key>k</key>
		<string>k.wav</string>
		<key>l</key>
		<string>l.wav</string>
		<key>m</key>
		<string>m.wav</string>
		<key>n</key>
		<string>n.wav</string>
		<key>o</key>
		<string>o.wav</string>
		<key>p</key>
		<string>p.wav</string>
		<key>q</key>
		<string>q.wav</string>
		<key>r</key>
		<string>r.wav</string>
		<key>s</key>
		<string>s.wav</string>
		<key>t</key>
		<string>t.wav</string>
		<key>u</key>
		<string>u.wav</string>
		<key>v</key>
		<string>v.wav</string>
		<key>w</key>
		<string>w.wav</string>
		<key>x</key>
		<string>x.wav</string>
		<key>y</key>
		<string>y.wav</string>
		<key>z</key>
		<string>z.wav</string>
	</dict>
	<key>kIntroScene</key>
	<dict/>
</dict>
</plist>
